.navbar {
    width: 100%;
    overflow: auto;
    background-color: #7e8ea8;
}

.navbar a {
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    color: #FFF;
}
 .navbar a:hover {
                background-color: #646e81;
            }
            .navbar a.active {
                background-color: #535c6c;
                color: white;
            }